In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df=pd.read_csv('perrin-freres-monthly-champagne-.csv')

In [6]:
len(df)

107

In [7]:
df.tail()

,Month,Perrin Freres monthly champagne sales millions ?64-?72
102,1972-07,4298.0
103,1972-08,1413.0
104,1972-09,5877.0
105,NaN,NaN
106,Perrin Freres monthly champagne sales millions...,NaN

In [9]:
df.drop((106,axis=0,inplace=True)

SyntaxError: invalid syntax (<ipython-input-9-0cae5a0e4349>, line 1)