In [13]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import math

In [14]:
df=pd.read_csv("multivariatedata.csv")

In [15]:
df

   area  bedrooms  age    price
0  2600       3.0    20  550000
1  3000       4.0    15  565000
2  3200       NaN    18  610000
3  3600       3.0    30  595000
4  4000       5.0     8  760000

In [18]:
m= math.floor(df.bedrooms.median())
m

3

In [21]:
df.bedrooms.fillna(m, inplace=True)

In [22]:
df

   area  bedrooms  age    price
0  2600       3.0    20  550000
1  3000       4.0    15  565000
2  3200       3.0    18  610000
3  3600       3.0    30  595000
4  4000       5.0     8  760000

In [26]:
reg= linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age ']] , df.price)

LinearRegression()

In [27]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [28]:
reg.intercept_

383724.9999999998

In [32]:
reg.predict([[2600,3,20]])

array([526000.])