In [13]:
import pandas as pd, numpy as np, math
from sklearn import linear_model
from word2number import w2n

In [22]:
df=pd.read_csv("hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [7]:
df.test_score(out of 10)

SyntaxError: invalid syntax (<ipython-input-7-e2b3b491e5c8>, line 1)

In [27]:
res=df.experience