In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("homepricesohe.csv")

In [4]:
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [6]:
dummies= pd.get_dummies(df.town)

In [8]:
merged = pd.concat([df,dummies], axis='columns')

In [9]:
merged.head()

              town  area   price  monroe township  robinsville  west windsor
0  monroe township  2600  550000                1            0             0
1  monroe township  3000  565000                1            0             0
2  monroe township  3200  610000                1            0             0
3  monroe township  3600  680000                1            0             0
4  monroe township  4000  725000                1            0             0

In [10]:
final=merged.drop(['town', 'west windsor'], axis='columns')

In [11]:
final

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [12]:
from sklearn import linear_model

In [13]:
model=linear_model.LinearRegression()

In [19]:
 #indepedent Variables go in X
x= final.drop('price', axis='columns')

In [20]:
y=final.price

In [21]:
model.fit(x,y)

LinearRegression()

In [23]:
model.predict([[3000,1,0]])

array([590468.71640508])

In [25]:
model.score(x,y)

0.9573929037221873

In [26]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [27]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [28]:
dfle=df